@import 'design/design';

.notifications
{
    &__snackbar
    {
        position: relative;

        z-index: 25;

        overflow: hidden;

        box-sizing: border-box;

        width: 350px;

        &-content
        {
            display: flex;
            align-items: center;

            margin-top: 10px;
            padding: 10px;

            transition: transform .1s ease-in-out;

            word-break: break-word;

            color: $White;

            gap: 10px;

            font-size: $fontSizeM;
            font-weight: $fontWeightMedium;
            line-height: $lineHeightM;

            &:first-letter
            {
                text-transform: capitalize;
            }

            &_clickable
            {
                cursor: pointer;

                &:hover,
                &:focus
                {
                    transform: scale(0.95);
                }
            }

            &_type
            {
                &_warning
                {
                    background-color: $SmithApple;
                }

                &_error
                {
                    background-color: $Bittersweet;
                }

                &_info
                {
                    background-color: $Silver;
                }

                &_success
                {
                    background-color: $ChateauGreen;
                }
            }
        }

        &-life
        {
            position: absolute;

            bottom: 0;
            left: 0;

            width: auto;
            height: 5px;

            &_type
            {
                &_warning
                {
                    background-image: linear-gradient(130deg, $SmithApple, #d4fadb);
                }

                &_error
                {
                    background-image: linear-gradient(130deg, $Bittersweet, #ffb3b5);
                }

                &_info
                {
                    background-image: linear-gradient(130deg, $Silver, #f5f5f5);
                }

                &_success
                {
                    background-image: linear-gradient(130deg, $ChateauGreen, #81db98);
                }
            }
        }

        &-buttons
        {
            display: flex;
            align-items: center;

            margin-left: auto;

            gap: 10px;
        }

        &-reload
        {
            width: 85px;

            cursor: pointer;

            color: $White;

            border: 1px solid $White;
            border-radius: 5px;

            background: none;

            font-weight: $fontWeightMedium;
        }

        .icon
        {
            stroke: $White;

            path
            {
                stroke: $White;
            }

            &__cross
            {
                display: flex;

                width: 12px;
                height: 12px;

                cursor: pointer;
            }
        }

        @include media-breakpoint-down($tabletBp)
        {
            width: calc(100vw - 48px);
        }
    }
}
