@import 'design/design';

.rubricator
{
    display: flex;

    overflow-y: auto;

    flex-direction: column;

    width: 100%;
    height: 100%;

    gap: 30px;

    &__columns
    {
        display: flex;
    }

    &__column
    {
        display: flex;
        flex-direction: column;

        width: 100%;

        gap: 30px;
    }

    &::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: $WildSand;
    }

    &::-webkit-scrollbar
    {
        width: 8px;

        background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: $Silver;
    }
}
