@import 'design/design';

.icon__user
{
    width: 15px;
    height: 15px;

    transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;

    fill: $Black;
    fill-rule: evenodd;

    svg
    {
        width: 100%;
        height: 100%;
    }
}
