@import '../../src/design/design';

.ui-kit
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    align-items: flex-start;

    padding: 40px;

    &__unit
    {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        &_type
        {
            &_color
            {
                text-transform: capitalize;
            }
        }
    }

    &__group
    {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__color
    {
        color: $Black;

        &-sample
        {
            display: block;

            height: 18px;
        }

        &-title
        {
            margin: 0 0 6px;

            font-weight: $fontWeightBold;
        }

        &-value
        {
            text-transform: none;

            font-style: italic;
        }
    }

    &__shadow
    {
        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;

        width: 100%;
        min-height: 100px;
        padding: 20px;

        border-radius: 10px;
    }
}
