@import 'design/design';

.icon__settings
{
    width: 15px;
    height: 15px;

    transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;

    fill: none;
    stroke: $Black;

    svg
    {
        height: 100%;
    }
}
