@import 'design/design';

.user-card
{
    &__settings
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__tuning
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__title
    {
        color: $Boulder;
    }
}
