@import 'design/design';

.tabs
{
    &__tab
    {
        display: flex;
        justify-content: center;

        width: 100%;
        height: 29px;

        cursor: pointer;
        transition: $transitionColor01, border-bottom 0.1s ease-in-out;

        color: $Mercury;

        border-bottom: 1px solid $Mercury;

        &:hover:not(.tabs__tab_active)
        {
            color: $Boulder;

            border-bottom: 1px solid $Boulder;
        }

        &_active
        {
            color: $Twitch;

            border-bottom: 1px solid $Twitch;
        }
    }
}
