@import 'design/design';

.header
{
    display: flex;

    width: calc(100% - 80px);
    height: 50px;

    padding: 20px 40px;

    align-items: center;
    gap: 40px;

    &__link
    {
        white-space: nowrap;

        color: $Boulder;
    }

    .icon__dots
    {
        fill: none;
        stroke: $Silver;

        transition: stroke .1s ease-in-out;

        &:hover
        {
            fill: none;
            stroke: $Boulder;
        }
    }

    @include media-breakpoint-down($desktopBp)
    {
        width: calc(100% - 40px);

        padding: 20px;

        gap: 20px;
    }

    @include media-breakpoint-down($tabletBp)
    {
        &__link,
        .logo__link
        {
            display: none;
        }
    }
}
