@import 'design/colors';
@import 'design/typography';
@import 'design/transitions';
@import 'design/mixins';

.button
{
    position: relative;

    display: flex;
    align-items: center;

    height: fit-content;
    margin: 0;

    cursor: pointer;

    transition: $transitionBackgroundColor01;

    border: none;

    &_size
    {
        &_s
        {
            padding: 8px 32px;
            gap: 8px;

            font-size: $fontSizeS;
            line-height: $lineHeightS;

            .icon
            {
                width: 12px;
                height: 12px;
            }
        }

        &_m
        {
            padding: 12px 48px;
            gap: 12px;

            .icon
            {
                width: 16px;
                height: 16px;
            }
        }

        &_l
        {
            padding: 16px 64px;
            gap: 16px;

            .icon
            {
                width: 20px;
                height: 20px;
            }
        }

        &_m,
        &_l
        {
            font-weight: $fontWeightMedium;
        }
    }

    &_theme
    {
        &_light
        {
            background-color: $WildSand;

            &:hover
            {
                background-color: $Alto;
            }
        }

        &_dark
        {
            color: $White;
            background-color: $Boulder;

            &:hover
            {
                background-color: $Scorpion;
            }
        }

        &_twitch
        {
            color: $White;
            background-color: $Twitch;

            &:hover
            {
                background-color: $DaisyBash;
            }
        }
    }

    &_icon
    {
        &_s
        {
            padding: 8px;
        }

        &_m
        {
            padding: 12px;
        }

        &_l
        {
            padding: 16px;
        }
    }

    &_block
    {
        width: 100%;
        justify-content: center;
    }

    &_disabled
    {
        cursor: not-allowed;

        color: $Boulder;

        background-color: $AthensGray;

        .icon
        {
            fill: $Silver;
        }
    }

    &_loading
    {
        &_light,
        &_dark,
        &_twitch
        {
            overflow: hidden;

            cursor: wait;

            &:before
            {
                position: absolute;
                top: 0;
                left: 0;

                width: 150%;
                height: 100%;

                content: '';
                animation: button-loading 1s infinite linear;
            }
        }

        &_light
        {
            &:before
            {
                background: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.75rem, rgba($Alto, 0.7) 0.75rem, rgba($Alto, 0.7) 1.5rem);
            }

            &:hover
            {
                background-color: $WildSand;
            }
        }

        &_dark
        {
            &:before
            {
                background: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.75rem, rgba($Scorpion, 0.7) 0.75rem, rgba($Scorpion, 0.7) 1.5rem);
            }

            &:hover
            {
                background-color: $Boulder;
            }
        }

        &_twitch
        {
            &:before
            {
                background: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.75rem, rgba($DaisyBash, 0.7) 0.75rem, rgba($DaisyBash, 0.7) 1.5rem);
            }

            &:hover
            {
                background-color: $Twitch;
            }
        }
    }
}

@keyframes button-loading
{
    from
    {
        transform: translateX(0);
    }

    to
    {
        transform: translateX(-1.75rem);
    }
}
