@import 'design/design';

.footer
{
    position: absolute;
    bottom: 10px;
    left: 50%;

    display: flex;

    width: fit-content;

    transform: translate(-50%, 0);

    gap: 20px;

    justify-content: center;

    color: $Boulder;

    font-size: $fontSizeXS;
    line-height: $lineHeightXS;

    a
    {
        transition: $transitionColor01;

        &:hover,
        &:focus
        {
            color: $Black;
        }
    }

    &__donate
    {
        color: $ChateauGreen;
    }

    &__watermark
    {
        color: $Silver;

        a
        {
            color: $Boulder;
        }
    }

    &__lang
    {
        cursor: pointer;
    }

    @include media-breakpoint-down($tabletBp)
    {
        &__bug,
        &__idea,
        &__watermark,
        &__about
        {
            display: none;
        }
    }
}
