@import 'design/design';

.chat
{
    display: flex;

    flex-direction: column;

    width: 450px;
    height: calc(100% - 40px);

    padding: 20px 0 20px 20px;

    border-left: 1px solid $Mercury;

    gap: 20px;

    &__messages
    {
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar
        {
            width: 8px;

            background-color: rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-track
        {
            border-radius: 10px;
            background-color: $WildSand;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: $Silver;
        }
    }

    &__title
    {
        color: $Boulder;

        align-self: center;

        &-channel
        {
            color: $Black;
        }
    }

    @include media-breakpoint-down($desktopBp)
    {
        width: 380px;
    }

    @include media-breakpoint-down($tabletBp)
    {
        width: 100%;

        padding: 0;

        border: none;
    }
}
