@import 'design/colors';

.tabs
{
    position: relative;

    display: flex;
    gap: 40px;

    width: fit-content;

    &:after
    {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 1px;

        content: '';

        background: $Silver;
    }
}
