@import 'design/colors';

.chat-date
{
    position: relative;

    display: flex;
    justify-content: center;
    gap: 24px;

    width: 100%;

    color: $Silver;

    &:before,
    &:after
    {
        width: 100%;
        height: 1px;

        content: '';

        background-color: $Silver;
        align-self: center;
    }
}
