@import 'design/design';

.home
{
    &__searches
    {
        position: fixed;
        top: 20px;
        left: 20px;

        display: flex;

        flex-direction: column;

        gap: 5px;

        ul
        {
            li
            {
                transition: $transitionColor01;

                color: $Boulder;

                &:hover
                {
                    color: $Black;
                }
            }
        }
    }
}
