@import 'design/design';

.tooltip
{
    &__container
    {
        position: relative;
    }

    &__box
    {
        position: absolute;

        display: none;

        padding: 5px 35px;

        opacity: 0;

        border-radius: 5px;

        &_visible
        {
            display: block;
        }

        &_theme
        {
            &_dark
            {
                color: $WildSand;

                background-color: $Boulder;
            }

            &_light
            {
                color: $Boulder;

                background-color: $WildSand;
            }
        }

        &_direction
        {
            &_top,
            &_bottom
            {
                left: 50%;

                transform: translate(-50%, -5px);
                animation: tooltip-vert 300ms ease-out forwards;
            }

            &_top
            {
                bottom: calc(100% + 5px);
            }

            &_bottom
            {
                top: calc(100% + 15px);
            }

            &_left,
            &_right
            {
                top: 50%;

                transform: translate(-5px, -50%);
                animation: tooltip-horz 300ms ease-out forwards;
            }

            &_left
            {
                right: calc(100% + 5px);
            }

            &_right
            {
                left: calc(100% + 15px);
            }
        }
    }

    &__arrow
    {
        position: absolute;
        left: calc(50% - 6px);

        opacity: 0;

        border: 6px solid transparent;

        &_theme
        {
            &_dark
            {
                border-color: $Boulder;
            }

            &_light
            {
                border-color: $WildSand;
            }
        }

        &_direction
        {
            &_top,
            &_bottom
            {
                animation: tooltip-vert 300ms ease-out forwards;

                border-right-color: transparent;
                border-left-color: transparent;
            }

            &_top
            {
                top: 100%;

                border-top-width: 6px;
                border-bottom: 0;
            }

            &_bottom
            {
                bottom: 100%;

                border-top: 0;
                border-bottom-width: 6px;
            }

            &_left,
            &_right
            {
                top: calc(50% - 6px);

                animation: tooltip-horz 300ms ease-out forwards;

                border-top-color: transparent;
                border-bottom-color: transparent;
            }

            &_left
            {
                left: 100%;

                border-right: 0;
                border-left-width: 6px;
            }

            &_right
            {
                left: -6px;

                border-right-width: 6px;
                border-left: 0;
            }
        }
    }
}

@keyframes tooltip-vert
{
    to
    {
        opacity: 1;
    }
}

@keyframes tooltip-horz
{
    to
    {
        opacity: 1;
    }
}
