$Black: #000000;
$White: #ffffff;
$WildSand: #f6f6f6;
$Mercury: #e2e2e2;
$Silver: #cccccc;
$Boulder: #757575;
$Scorpion: #5a5a5a;
$Twitch: #772ce8;
$AthensGray: #e8eaee;
$SmithApple: #93e7a2;
$ChateauGreen: #3ebe5e;
$SeaGreen: #2f984a;
$GreenPea: #216435;
$Bittersweet: #ff6669;
$Twitchtracker: #18bc9c;
