@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
@import 'typography';
@import 'fonts';
@import 'colors';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
{
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;

    background: transparent;
}

html,
button,
select
{
    color: $Black;

    font-family: Roboto, sans-serif;

    font-size: $defaultSize;

    font-weight: $fontWeightNormal;
}

body,
html
{
    position: relative;

    height: 100%;

    &::-webkit-scrollbar-track
        {
        border-radius: 10px;
        background-color: $WildSand;
    }

    &::-webkit-scrollbar
        {
        width: 8px;

        background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb
        {
        border-radius: 10px;
        background-color: $Silver;
    }
}

input,
select
{
    vertical-align: middle;
}

h1
{
    font-size: $headerFontSizeL;
    font-weight: $fontWeightBold;

    line-height: $headerLineHeightL;
}

h2
{
    font-size: $headerFontSizeM;
    font-weight: $fontWeightMedium;

    line-height: $headerLineHeightM;
}

h3,
h4,
h5,
h6
{
    font-size: $headerFontSizeS;
    font-weight: $fontWeightNormal;

    line-height: $headerLineHeightS;
}

img
{
    width: 100%;
    height: auto;
}

ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

a
{
    text-decoration: none;

    color: inherit;
}

.custom-scroll
{
    &::-webkit-scrollbar-track
        {
        border-radius: 10px;
        background-color: $WildSand;
    }

    &::-webkit-scrollbar
        {
        width: 8px;

        background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb
        {
        border-radius: 10px;
        background-color: $Silver;
    }
}

main
{
    padding: 40px;

    @include media-breakpoint-down($desktopBp)
    {
        padding: 0 20px;
    }
}
