@function breakpoint-min($breakpoint)
{
    @return $breakpoint;
}

@function breakpoint-max($breakpoint)
{
    @return ($breakpoint - .02);
}

@mixin media-breakpoint-up($min)
{
    @media (min-width: breakpoint-min($min))
    {
        @content;
    }
}

@mixin media-breakpoint-down($max)
{
    @media (max-width: breakpoint-max($max))
    {
        @content;
    }
}

@function randomNum($min, $max)
{
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

@mixin animation($name, $from, $to)
{
    @keyframes #{$name}
    {
        0%
        {
            transform: translateX($from);
        }

        50%,
        100%
        {
            transform: translateX($to);
        }
    }
}
