$fontSizeXS: 0.75rem;
$lineHeightXS: 1.125rem;

$defaultSize: 16px;
$mobileSize: 14px;

$fontSizeS: 0.875rem;
$lineHeightS: 1.25rem;

$fontSizeM: 1rem;
$lineHeightM: 1.5rem;

$fontSizeL: 1.125rem;
$lineHeightL: 1.5rem;

$fontSizeXL: 1.25rem;
$lineHeightXL: 1.5rem;

$headerFontSizeS: 1.125rem;
$headerLineHeightS: 1.75rem;

$headerFontSizeM: 1.5rem;
$headerLineHeightM: 2rem;

$headerFontSizeL: 1.75rem;
$headerLineHeightL: 2rem;

$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
