@import 'design/design';
@import 'design/transitions';

.segmented-toggle__icon
{
    position: relative;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 12px;

    cursor: pointer;

    transition: $transitionBackgroundColor01, box-shadow .1s ease-in-out, border-radius .1s ease-in-out;

    border: none;
    background-color: $White;

    &:first-child:not(&_active)
    {
        border-radius: 4px 0 0 4px;
    }

    &:last-child:not(&_active)
    {
        border-radius: 0 4px 4px 0;
    }

    &:nth-child(even):not(&_active):before
    {
        position: absolute;
        top: 0;
        right: 0;

        width: 1px;
        height: 100%;

        content: '';

        background: $Mercury;
    }

    &:nth-child(even):not(&_active):after
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 1px;
        height: 100%;

        content: '';

        background: $Mercury;
    }

    &:hover:not(&_active)
    {
        background-color: #eaf7ff;
    }

    &_active
    {
        z-index: 2;

        border-radius: 4px;
        box-shadow: inset 0 0 0 2px $Twitch;
    }
}
