@import 'design/design';

.user-history
{
    position: relative;

    display: flex;

    width: calc(100% - 80px);
    height: calc(100vh - 170px);
    justify-content: space-between;

    gap: 20px;

    &__error
    {
        display: flex;

        height: calc(100vh - 170px);

        align-items: center;
        justify-content: center;
    }

    @include media-breakpoint-down($desktopBp)
    {
        width: calc(100% - 40px);
        height: calc(100vh - 110px);
    }

    @include media-breakpoint-down($tabletBp)
    {
        flex-direction: column;
    }
}
