@import 'design/design';

.heatmap
{
    &__day
    {
        &[data-level='0']
        {
            fill: $AthensGray;
        }

        &[data-level='1']
        {
            fill: $SmithApple;
        }

        &[data-level='2']
        {
            fill: $ChateauGreen;
        }

        &[data-level='3']
        {
            fill: $SeaGreen;
        }

        &[data-level='4']
        {
            fill: $GreenPea;
        }
    }
}
