@import 'design/design';

.possibilities
{
    position: fixed;

    z-index: 26;

    right: 24px;
    bottom: 24px;

    display: grid;
    grid-template-columns: repeat(2, minmax(170px, 1fr));

    padding: 20px;

    gap: 20px;

    cursor: pointer;

    border-radius: 10px;

    will-change: width, height;

    background-color: $Mercury;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: $shadow100;

    &_open
    {
        background: $WildSand;
    }

    @include media-breakpoint-down($mobileBp)
    {
        display: flex;
        flex-direction: column;
    }
}

.possibility
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;

    padding: 0 10px;

    cursor: pointer;

    border-radius: 5px;

    &__bug
    {
        background-color: $ChateauGreen;
    }

    &__donate
    {
        background-color: $SmithApple;
    }

    &__github
    {
        background-color: $AthensGray;
    }

    &__idea
    {
        color: $WildSand;
        background-color: $SeaGreen;
    }

    &__language
    {
        color: $WildSand;
        background-color: $ChateauGreen;

        @include media-breakpoint-up($mobileBp)
        {
            grid-column: 1/-1;
        }
    }

    &__more
    {
        .icon
        {
            transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
        }

        &_expanded
        {
            .icon
            {
                transform: rotate(0.5turn);
                fill: $Boulder;
            }
        }
    }

    &_disabled
    {
        cursor: not-allowed;

        color: $Boulder;
        background-color: $Silver;
    }
}
