@import 'design/design';

.possibilities
{
    position: absolute;

    z-index: 14;

    right: 24px;
    bottom: 24px;

    display: grid;
    grid-template-columns: repeat(2, minmax(170px, 1fr));

    padding: 20px;

    gap: 20px;

    cursor: pointer;

    border-radius: 10px;

    will-change: width, height;

    background: no-repeat center url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAsQAAALEBxi1JjQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFsSURBVEiJ7dY9S1xBFMbx367XRmKjKTYWBlmVdJpOCCQoGiX4OSzESv0WgfiFRGMg2KQLyfrSuLplErSRsOpuijuXXcPelxC2EHzgcA9z/2fO3LlzZgYm8QlNtFPsCMs6WsFxBt/EAaql0Pk37OBWby3iPcZRQh1b2EvhI2zihZBtMgXsVgOvgjUK8FNoRhjMGHm3bgKb+IX4cgHwv/SYoFCCtnjp5amE1j/y7bK4iN7lwC9RwWmwCmZzYlZRgwX8wmV49rKmuLASbYe2NP4KPzGffOoQpjGQMpo6fvzV9hTPU/g7nOA6+cl5c9rrfeGYfkxR0tc8fMd6zmhm8RvPMBb8mZyYDfEmqoWJHBjO8Bpvgp+nCbQiYb0WCGjrFGYR/hatflbyBeb6vVV8edCb3SjOI/dPqiwN6pxkRfgRVCIciovog/SjcwlP8FW86oaxht0UPhIX42eo4qPsa0sNb7s6WA5tWdeWfVT/AAnffyV1z4+BAAAAAElFTkSuQmCC');

    background-color: $Mercury;

    box-shadow: $shadow100;

    &_open
    {
        background: $WildSand;
    }

    @include media-breakpoint-down($mobileBp)
    {
        display: flex;
        flex-direction: column;
    }
}

.possibility
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;

    padding: 0 10px;

    cursor: pointer;

    border-radius: 5px;

    &__bug
    {
        background-color: $ChateauGreen;
    }

    &__donate
    {
        background-color: $SmithApple;
    }

    &__github
    {
        background-color: $AthensGray;
    }

    &__idea
    {
        color: $WildSand;
        background-color: $SeaGreen;
    }

    &__language
    {
        color: $WildSand;
        background-color: $ChateauGreen;

        @include media-breakpoint-up($mobileBp)
        {
            grid-column: 1/-1;
        }
    }

    &__more
    {
        .icon
        {
            transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
        }

        &_expanded
        {
            .icon
            {
                transform: rotate(0.5turn);
                fill: $Boulder;
            }
        }
    }

    &_disabled
    {
        cursor: not-allowed;

        color: $Boulder;
        background-color: $Silver;
    }
}
