.icon__arrow
{
    fill: #000000;

    &_direction
    {
        &_top
        {
            transform: rotate(180deg);
        }

        &_right
        {
            transform: rotate(-90deg);
        }

        &_left
        {
            transform: rotate(90deg);
        }
    }
}
