@import 'design/colors';

.user-card
{
    overflow: hidden;

    width: calc(100% - 20px);
    height: 44px;
    padding: 0 10px;

    background: $WildSand;

    &_open
    {
        padding-bottom: 10px;
    }
}
