@import 'design/design';

.user-card
{
    max-width: 450px;
    height: 45px;

    padding: 0 10px;

    background: $WildSand;

    &_expanded
    {
        height: auto;
        padding-bottom: 10px;
    }

    @include media-breakpoint-down($tabletBp)
    {
        max-width: 100%;
    }
}
