@import 'design/design';

.user-card
{
    &__content
    {
        display: flex;
        flex-direction: column;

        &_user-info
        {
            display: flex;
            align-items: center;

            &_avatar
            {
                width: 50px;
                height: 50px;

                margin-right: 25px;

                border-radius: 50%;
            }

            &_content
            {
                display: flex;
                flex-direction: column;
            }
        }

        .heatmap
        {
            margin: 20px 0;
        }
    }
}
