@import 'design/design';

.chip
{
    display: flex;
    align-items: center;

    gap: 10px;

    width: fit-content;
    height: 35px;

    padding: 0 20px;

    transition: $transitionBackgroundColor01;

    border-radius: 50px;

    background-color: $Mercury;

    &__second-label
    {
        color: $Boulder;
    }

    &_clickable
    {
        cursor: pointer;
    }

    &_selected
    {
        background-color: $SmithApple;
    }

    &:hover:not(&_selected)
    {
        background-color: $Silver;
    }
}
