@import 'design/design';

.desk-card
{
    &__user
    {
        cursor: pointer;

        background-color: $WildSand;

        img
        {
            width: 25px;
            height: 25px;

            margin-right: 10px;

            border-radius: 50px;
        }

        &-container
        {
            display: flex;
            align-items: center;
        }
    }
}
