@import 'design/design';

.desk-card
{
    display: flex;
    overflow: hidden;

    flex-direction: row;
    align-items: center;

    width: 180px;
    min-height: 45px;

    padding: 0 10px;

    border-radius: 10px;

    background-color: $White;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

    .icon
    {
        &__chart,
        &__donation,
        &__message-text
        {
            width: 20px;
            height: 20px;

            margin-right: 10px;
        }

        &__chart
        {
            stroke: $Twitch;
        }

        &__message-text
        {
            stroke: $SeaGreen;
        }
    }

    &__donation
    {
        background-color: rgba(147, 231, 162, 0.4);
    }

    @include media-breakpoint-down($desktopBp)
    {
        width: calc(100% - 20px);
    }
}
