@import 'design/colors';

.user-card
{
    &__header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 44px;
    }

    &__icons
    {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon__cog,
        .icon__twitch,
        .icon__twitchtracker
        {
            fill: $Scorpion;
        }

        .icon__star
        {
            stroke: $Scorpion;

            &_filled
            {
                stroke: $ChateauGreen;
            }

            &:hover
            {
                stroke: $Black;
            }
        }

        .icon__cog:hover
        {
            fill: $Black;
        }

        .icon__twitchtracker:hover
        {
            fill: $Twitchtracker;
        }

        .icon__twitch:hover
        {
            fill: $Twitch;
        }

        a
        {
            display: flex;
        }
    }
}
