@import 'design/design';

.user-card
{
    &__header
    {
        display: flex;

        height: 45px;

        justify-content: space-between;
        align-items: center;

        &_icons
        {
            display: flex;

            align-items: center;

            height: 15px;
            gap: 10px;
        }

        a
        {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 15px;
            height: 15px;
        }

        .icon__arrow,
        .icon__cog,
        .icon__twitch,
        .icon__twitchtracker,
        {
            fill: $Scorpion;

            cursor: pointer;

            &:hover
            {
                fill: $Black;
            }
        }

        .icon__star
        {
            stroke: $Scorpion;

            &_filled
            {
                stroke: $ChateauGreen;
            }

            cursor: pointer;

            &:hover
            {
                stroke: $Boulder;
            }
        }

        .icon__twitch
        {
            width: 15px;
            height: 15px;

            &:hover
            {
                fill: $Twitch;
            }
        }

        .icon__twitchtracker
        {
            &:hover
            {
                fill: $Twitchtracker;
            }
        }
    }
}
