@import 'design/design';

.user-card
{
    &__header
    {
        display: flex;

        height: 45px;

        justify-content: space-between;
        align-items: center;

        &_icons
        {
            display: flex;

            height: 15px;
            gap: 10px;
        }

        .icon__arrow,
        .icon__cog,
        .icon__twitch
        {
            fill: $Mercury;

            cursor: pointer;

            &:hover
            {
                fill: $Boulder;
            }
        }

        .icon__twitch
        {
            &:hover
            {
                fill: $Twitch;
            }
        }
    }
}
