@import 'design/design';

.chat-message
{
    max-width: 470px;

    &__time,
    &__username
    {
        margin-right: 5px;
    }

    &__time
    {
        color: $Silver;
    }

    &__text
    {
        word-break: break-word;

        &_smile
        {
            display: inline;

            width: auto;

            vertical-align: middle;
        }
    }

    @include media-breakpoint-down($tabletBp)
    {
        max-width: 100%;
    }
}
