@import 'design/design';

.chat-message
{
    position: relative;

    overflow-x: hidden;

    &_highlited
    {
        background-color: rgba(147, 231, 162, 0.4);
    }

    &__container
    {
        overflow-y: hidden;

        width: calc(100% - 19px);
    }

    &__reply
    {
        position: absolute;
        top: 2px;
        right: 4px;
        stroke: $Boulder;

        cursor: pointer;

        &:hover
        {
            stroke: $Black;
        }
    }

    &__time,
    &__username
    {
        margin-right: 5px;
    }

    &__time
    {
        color: $Silver;
    }

    &__link
    {
        color: $Twitch;
    }

    &__text
    {
        word-break: break-word;

        &_smile
        {
            display: inline;

            width: auto;

            vertical-align: middle;
        }
    }

    @include media-breakpoint-down($tabletBp)
    {
        max-width: 100%;
    }
}
