@import 'design/colors';
@import 'design/typography';

.input
{
    display: flex;
    align-items: center;

    transition: border-bottom 0.2s ease-in-out;

    border-bottom: 1px solid $Mercury;
    background-color: $WildSand;

    &:hover:not(&_disabled):not(&_readonly),
    &_focus:not(&_disabled):not(&_readonly)
    {
        border-bottom: 1px solid $Black;
    }

    &_disabled,
    &_readonly
    {
        border-bottom: 1px solid $Silver;
        background-color: $AthensGray;
    }

    &_disabled
    {
        cursor: not-allowed;
    }

    &_size
    {
        &_s
        {
            width: calc(100% - 16px);
            padding: 0 8px;
            gap: 8px;
        }

        &_m
        {
            width: calc(100% - 24px);
            padding: 0 12px;
            gap: 12px;
        }

        &_l
        {
            width: calc(100% - 32px);
            padding: 0 16px;
            gap: 16px;
        }
    }

    &__prefix,
    &__suffix
    {
        &_size
        {
            &_s,
            &_m,
            &_l
            {
                display: flex;
                align-items: center;
            }

            &_s
            {
                .icon
                {
                    width: 12px;
                    height: 12px;
                }
            }

            &_m
            {
                .icon
                {
                    width: 16px;
                    height: 16px;
                }
            }

            &_l
            {
                .icon
                {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    &__field
    {
        width: 100%;

        border: none;
        outline: none;
        background: none;

        font-size: $fontSizeM;
        font-weight: $fontWeightMedium;
        line-height: $lineHeightM;

        &::placeholder,
        &_disabled
        {
            color: $Boulder;
        }

        &_disabled
        {
            cursor: not-allowed;
        }

        &_size
        {
            &_s
            {
                padding: 8px 0;

                font-size: $fontSizeS;
                font-weight: $fontWeightNormal;
                line-height: $lineHeightS;
            }

            &_m
            {
                padding: 12px 0;
            }

            &_l
            {
                padding: 16px 0;
            }
        }
    }
}
