@import 'design/design';

.input
{
    &__container
    {
        position: relative;

        display: flex;

        width: fit-content;
        height: 50px;

        gap: 16px;

        transition: border-bottom 0.2s ease-in-out;

        align-items: center;

        border: none;
        border-bottom: 1px solid $Mercury;

        background-color: $WildSand;

        &_size
        {
            &_s
            {
                height: 24px;
                padding: 0 4px;
            }

            &_m
            {
                height: 38px;
                padding: 0 10px;
            }

            &_l
            {
                height: 50px;
                padding: 0 16px;
            }
        }

        &_focus:not(.input__container_disabled),
        &:hover:not(.input__container_disabled)
        {
            border-bottom: 1px solid $Black;
        }

        &_full
        {
            width: inherit;
        }

        .icon__dots
        {
            fill: $Silver;

            cursor: pointer;

            &:hover
            {
                fill: $Boulder;
            }
        }

        &_disabled
        {
            .icon
            {
                fill: $Silver;
            }
        }
    }

    &__field
    {
        width: 100%;
        height: calc(100% - 2px);

        border: none;

        outline: none;

        background-color: inherit;

        font-size: $fontSizeM;
        font-weight: $fontWeightMedium;
        line-height: $lineHeightM;

        &::placeholder
        {
            color: $Boulder;
        }

        &_disabled
        {
            &::placeholder
            {
                color: $Mercury;
            }
        }
    }
}
