@import 'design/design';

.user-history
{
    display: flex;
    // grid-template-columns: 1fr 470px;
    // grid-template-rows: auto;
    width: calc(100% - 80px);
    height: calc(100vh - 170px);
    justify-content: space-between;

    padding: 40px;

    gap: 20px;

    @include media-breakpoint-down($desktopBp)
    {
        width: calc(100% - 40px);
        height: calc(100vh - 130px);

        padding: 20px;
    }

    @include media-breakpoint-down($tabletBp)
    {
        flex-direction: column;
    }
}
