@import 'design/colors';
@import 'design/mixins';
@import 'design/breakpoints';

.logo
{
    display: flex;
    align-items: baseline;
    gap: 10px;

    &__text
    {
        &_twitch
        {
            color: $Twitch;
        }

        &_mobile
        {
            display: none;
        }
    }

    &__smile
    {
        position: relative;

        width: 28px;
        height: 28px;
    }

    &_adaptive
    {
        @include media-breakpoint-down($desktopBp)
        {
            .logo__text
            {
                &_desktop
                {
                    display: none;
                }

                &_mobile
                {
                    display: flex;
                }
            }
        }
    }
}
