@import 'design/design';

.skeleton
{
    &__live-chat
    {
        display: flex;

        width: 100%;
        height: calc(100vh - 170px);
        justify-content: space-between;

        gap: 20px;

        &__channels
        {
            display: flex;

            flex-direction: column;

            width: min-content;

            flex-grow: 1;

            padding: 20px 0;

            gap: 30px;

            &_list
            {
                display: flex;
                flex-wrap: wrap;

                gap: 20px;
            }

            &_settings
            {
                display: flex;

                flex-wrap: wrap;

                justify-content: flex-end;
                align-items: center;

                gap: 40px;

                &_speed
                {
                    width: 244px;
                    height: 24px;
                }

                &_online
                {
                    width: 150px;
                    height: 24px;

                    margin-right: auto;
                }

                &_sort
                {
                    width: 156px;
                    height: 24px;
                }

                &_cog
                {
                    width: 20px;
                    height: 20px;

                    border-radius: 50px;
                }

                &_speed,
                &_online,
                &_sort,
                &_cog
                {
                    position: relative;

                    overflow: hidden;

                    background: $WildSand;

                    &:before
                    {
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 150px;
                        height: 200%;

                        content: '';

                        animation: loading 1.6s infinite linear;

                        background: linear-gradient(to right, $WildSand, $AthensGray, $WildSand);
                    }
                }

                @include media-breakpoint-down($fullHdBp)
                {
                    flex-direction: column;
                    gap: 2px;
                    align-items: flex-start;
                }
            }

            @include media-breakpoint-down($desktopBp)
            {
                width: auto;
                height: 100%;

                padding: 0;
            }
        }

        &__chat
        {
            width: 640px;
            height: calc(100% - 40px);

            padding: 20px 0 20px 20px;

            border-left: 1px solid $Mercury;

            @include media-breakpoint-down($desktopBp)
            {
                display: none;
            }
        }

        @include media-breakpoint-down($desktopBp)
        {
            flex-direction: column;

            height: calc(100vh - 110px);
        }
    }
}

@include animation(loading, -100px, 300%);
